<header>
    <nav>
        <div class="title">
            <h1>Game Panel</h1>
            <span>Beta</span>
        </div>
        <ul>
            <li>
                <a href="/">
                    <i class="bi bi-terminal-dash"></i> 
                    Console
                </a>
            </li>
            <li>
                <a href="/files">
                    <i class="bi bi-archive"></i>
                    File Manager
                </a>
            </li>
            <li>
                <a href="/network">
                    <i class="bi bi-wifi"></i>
                    Network
                </a>
            </li>
            <li>
                <a href="/startup">
                    <i class="bi bi-code-slash"></i>
                    Startup
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="bi bi-gear"></i>
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</header>