@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainBG: rgb(29, 28, 28);
    --BG2: rgb(24, 23, 23);
    --color: white;
    --red: red;
    --hover: aqua;
    --green: rgb(12, 194, 12);
    --gray: gray;
    --yellow: yellow;
}

.red{
    color: var(--red);
}

body{
    background-color: var(--mainBG);
    color: var(--color);
    font-family: Roboto;
}

/* Header */

header{
    height: 80px;
    width: 100%;
    background-color: var(--BG2);
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
}

header nav{
    height: 100%;
    width: 100%;
    display: flex;
}

header nav ul{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    list-style-type: none;
}

header nav ul li{
    margin-left: 30px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--color);
}

header nav ul li a:hover{
    border-bottom: 1px solid var(--hover);
}

header nav .title{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

header nav .title h1{
    margin-left: 20px;
    font-size: 30px;
}

header nav .title h1::first-letter{
    color: var(--red);
}

/* console-page */

.console-page{
    height: 80vh;
    width: 100%;
    display: flex;
}

.console-page .main{
    width: 70%;
    height: 100%;
}

.console-page .main .controls{
    height: auto;
    width: 100%;
    padding: 20px;
}

.console-page .main .controls button{
    margin-left: 20px;
}

.console-page .main .controls .start-btn{
    height: 39px;
    width: 90px;
    background-color: var(--green);
    border: none;
    color: var(--color);
    border-radius: 8px;
    cursor: pointer;
}

.console-page .main .controls .re-start-btn{
    height: 39px;
    width: 90px;
    background-color: var(--gray);
    border: none;
    color: var(--color);
    border-radius: 8px;
    cursor: pointer;
}

.console-page .main .controls .stop-btn{
    height: 39px;
    width: 90px;
    background-color: var(--red);
    border: none;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.console-page .main .controls .kill-btn{
    height: 39px;
    width: 90px;
    background-color: var(--red);
    border: none;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.console-page .main .console{
    background-color: black;
    height: 90%;
    width: 100%;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
}

.console-page .main .input{
    width: 100%;
    /* padding: 10px; */
    padding: 5px;
    position: relative;
    bottom: 0;
    padding-left: 20px;
}

.console-page .main .input input{
    height: 38px;
    width: 90%;
    background-color: rgb(22, 18, 18);
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--color);
    padding-left: 20px;
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
}

.console-page .main .input button{
    width: 9%;
    height: 37px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
}

.console-page .analytics{
    width: 29%;
    height: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.console-page .analytics .server{
    background-color: var(--BG2);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.console-page .analytics .cpu{
    background-color: var(--BG2);
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.console-page .analytics .ram{
    background-color: var(--BG2);
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

/* files-page */

.files-page{
    min-height: 80vh;
    width: 100%;
    padding: 20px;
}

.files-page h1{
    text-align: center;
    font-size: 28px;
}

.files-page .file{
    width: 100%;
    height: 50px;
    background-color: rgb(36, 35, 35);;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    padding-left: 10px;
    cursor: pointer;
}

.files-page .file .icon{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.files-page .file .icon i{
    font-size: 30px;
}

.files-page .file .name{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.files-page .file .menu{
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* sp_file_page */

.sp_file_page {
    height: 85vh;
    width: 100vw;
    padding: 20px;
}

.sp_file_page  h1{
    text-align: center;
}

.sp_file_page form{
    height: 100%;
    width: 100%;
}

.sp_file_page form textarea{
    width: 100%;
    height: 90%;
    padding: 10px;
    background-color: var(--BG2);
    color: var(--color);
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--color);
}

.sp_file_page form button{
    height: 35px;
    width: 60px;
    background-color: var(--green);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}