<title>Network</title>

<section class="network-page">
    <h1>Network</h1>
    <div class="address">
        <div class="co">
            <h3>Server ip</h3>
            <span><%= ip %></span>
        </div>

        <div class="co">
            <h3>Server Port</h3>
            <span><%= port %></span>
        </div>

    </div>
</section>