<title><%= filename %></title>
<section class="sp_file_page">
    <h1><%= filename %>e</h1>
    <form action="/files/save-file" method="post">
        <textarea name="file"><%= file %></textarea>
        <input type="text" name="path" value="<%= serverpath %>" style="display: none;">
        <button>Save</button>
    </form>
</section>